:root {
  accent-color: auto;
  --z-hide: -1,
  --z-auto: 'auto',
  --z-base: 0,
  --z-docked: 10,
  --z-dropdown: 1000,
  --z-sticky: 1100,
  --z-banner: 1200,
  --z-overlay: 1300,
  --z-modal: 1400,
  --z-popover: 1500,
  --z-skipLink: 1600,
  --z-toast: 1700,
  --z-tooltip: 1800
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Dropdown */

.rt-BaseMenuViewport {
  padding: var(--space-2);
}

.rt-BaseMenuContent {
  background-color: var(--color-panel);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Slider */

.rt-SliderRoot:where(.rt-r-size-1) {
  --slider-track-size: calc(var(--space-1) * 0.9)
}

.rt-SliderRoot:where(.rt-variant-surface) :where(.rt-SliderTrack) {
  box-shadow: none;
}

.rt-SliderRoot:where(.rt-variant-surface) :where(.rt-SliderRange) {
  box-shadow: inset 0 0 0 1px var(--gray-a3);
}

/* Dialog */

.rt-DialogContent {
  background-color: var(--gray-1);
  padding: var(--space-5);
}