:root {
  accent-color: auto;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rt-BaseMenuViewport {
  padding: var(--space-2);
}

.rt-BaseMenuContent {
  background-color: var(--color-panel);
}
